html{
    scroll-behavior: smooth;
}
#GENIUSERAlogo{
    width: 30%;
}

.options-tab{
    position: fixed;
    display: inline-block;
    background-color: transparent;
    text-decoration: none;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 2;
    font-size: 30px;
    margin-top: -8px;
}
.options-tab:hover .options{
    display: block;
}
.options-tab span:hover{
    cursor: pointer;
}
.options{
    display: none;
    box-shadow: 0px 15px 20px 12px repeating-linear-gradient(to top, green, yellow);
}
.options a{
    text-decoration: none;
    color: black;
}

.options label{
    background-image: repeating-linear-gradient(to top, green, yellow);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 5px;
}
.options label:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #09ad3b;
    color: white;
   
}

#go-back{
    position: absolute;
    left: 10;
    top: 8px;
    width: 35px;
    z-index: 1;
    background-color: white;
    border-radius: 100%;
}
#search-go-back{
    margin-top: -20px;
    margin-bottom: 10px;
    width: 35px;
    z-index: 1;
    background-color: white;
    border-radius: 100%;
}
/* Banner */

#banner {
    background-image: repeating-linear-gradient(to top, green, yellow);
    padding: 30px;
    text-align: center;
}

#banner h1 {
    font-size: 3rem;
    color: #333;
    margin: 1.6%;
}

#banner p {
    font-size: 1.2rem;
    color: #666;
}
.welcome-teacher{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(0, 79, 13);
    text-shadow: -3px 0px 2px white;
}
#half-brain-container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    /* border: 2px solid black; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 #half-brain{
    position: relative;
    left: 100%;
    color: black;
 }
 #half-brain{
    animation: move-half-brain 5s infinite linear;
 }
 @keyframes move-half-brain {
    to{transform: translateX(-350%);}
 }
#guide-container{
    box-shadow: 0px 0px 50px rgb(180, 179, 179);
    border-radius: 5px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
}
#guide-text{
    padding: 20px;
    font-size: 18px;
    text-align: left;
}
#read-container{
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1px;
    cursor: pointer;
}
#read{
    box-shadow: 0px 0px 10px rgb(147, 147, 147);
    color: #3b3b3b;
}
#teacher-profile-container{
    background-image: linear-gradient( to top, rgb(189, 189, 189), rgb(1, 104, 1));
    text-align: center;
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
#teacher-profile-container a{
    text-decoration: none;

}
#teacher-name{
    color: aliceblue;
    text-align: center;
}

/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Heading Styles */
h2 {
    font-size: 2rem;
    text-shadow: 2px 1px rgb(196, 199, 11);
    color: chocolate;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman';
}

h3 {
    color: aliceblue;
    text-align: center;
}

/* Body Styles */
body {
    background-color: #f3f3f3;
    padding: 2%;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Card Container */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
}

/* Card Styles */
.card {
    flex: 0 1 calc(48% - 1rem);
    max-width: calc(48% - 1rem);
    background-color: #f3f3f3;
    margin: 1%;
    box-shadow: 0px 0px 100px #8d8d8d;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card video {
    width: 100%;
    border-radius: 8px;
}

.description {
    color: #333;
    text-align: center;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: larger;
    font-weight: bolder;
    margin-top: 1rem;
}
#data-table-container{
    height: 27em;
    overflow: auto;
}
#data-table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    flex-wrap: wrap;
}
.table-row{
border: 1px solid white;
background-color: #bcebc0;
}
.table-row:hover{
    background-color: rgb(161, 237, 161);
    cursor: pointer;
}
.search-list:hover{
    background-color: lightblue;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }

    .card {
        flex: 1 1 calc(100% - 1rem);
        max-width: calc(100% - 1rem);
    }
    

#GENIUSERAlogo {
    width: 30%;
    
}
#search-go-back{
    margin-top: 5px;
}
}

/* New Styles for Mobile Phones */
@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 1rem);
        max-width: calc(100% - 1rem);
    }
    #GENIUSERAlogo {
        width: 70%;
        top: 3rem; right: -1rem;
    }
    /* #guide-container{
        height: 97px;
    }
    #read-container{
        display: inline-block;
    } */
    #guide-text{
        font-size: 13px;
    }
    #search-go-back{
        margin-top: 5px;
    }
}



#search-bar input[type=text]{
    border-radius: 4px 10px 11px;
    width: 20%;
    color: green;
    margin-bottom: 12px;
    padding: 10px 16px;
    background-image: url('icons/search.png');
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 40px;
    transition: 0.3s;

}
#search-bar input[type=text]:focus{
    text-align: center;
    width: 90%;
    box-sizing: border-box;
    border-radius: 1px 10px 10px 10px;
}


.student-to-teacher-table {
    width: 66%;
    display: block;
    background-color: #fff;
}


.last, .contact {
    display: block;
    text-align: center;
    padding: 2%;
    margin: 1%;
    font-size: small;
}
#contact{
    color: black;
}
.contact.animate-contact{
    box-shadow: 0px 0px 10px 5px rgb(0, 153, 0);
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 20px;
    transition: border-radius 0.5s ease-in-out;
}

.last a, .contact a {
    margin: 2%;
    text-decoration: none;
    color: black;
}

#profile-image{
    width: 110px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid white;
}
/* A hidden display of student profile  */
#student-profile-container{
    background-image: linear-gradient( to top, rgb(189, 189, 189), rgb(1, 104, 1));
    text-align: center;
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
#student-profile-container a{
    text-decoration: none;

}

/* A hidden display of teacher info for student */
#details{
    background-image: linear-gradient( to top, rgb(189, 189, 189), rgb(1, 104, 1));
    text-align: center;
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}


/* log out part (A hidden)*/
#logout-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(185, 185, 185);
    width: 280px;
    justify-content: center;
}
#logout-text{
    margin-top: 30px;
    margin-bottom: 15px;
}
#logout-container button{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 0;
}